*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sintony", sans-serif;
}

.navbar{
    padding: 74px 91.5px 0 91.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-right: 32px;
}
.logo{
    width: 142.5px;
}
.navbar ul button{
    padding: 12px 40px;
    border-radius: 30px;
    background-color: #218C0F;
    border: none;
    color: white;
}
.food{
    width: 630px;
}
section{
    display: flex;
    padding: 182.83px 98px;
    justify-content: space-between;
}
.image-text{
    width: 427px;
    text-align: center;
}
.image-text h2{
    font-size: 38px;
    font-weight: bold;
}
.image-text p{
    padding-top: 24px;
    font-size: 18px;
}
.image-text form {
    margin-top: 50px;
}
.image-text form input{
    width: 427px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 20px;
    border: 1px solid #218C0F
}
.image-text form button{
    margin-top: 48px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 86px;
    background-color: #218C0F;
    border-radius: 20px;
    border: none;
}
footer{
    background-color: #218C0F
}
.ending{
    display: flex;
    margin-top: 229px;
    padding-left: 113px;
    height: 740px;
    width: 100%;
    background-color: #218C0F;
    align-items: center;
    color: white;
}
.ending img{
    margin-top: 90px;
    margin-bottom: 34.83px;
    width: 91.1px;
    height: 53.17px;
    border-radius: 15px;
}
.ending p{
    font-size: 16px;
   line-height: 28px;
}
.ending h3{
   padding-bottom: 20px;

}
.second-box{
    margin-top: 205px;
    width: 421px;
    align-items: center;
}
.second-box h3{
    text-align: center;
}

.address{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.address_img .location{
    width: 18px;
    height: 18px;
    margin: 0px 15px; 
}
.phone_numbers{
    display: flex;
    margin-top: 20px;
}
.phone_elements{
    display: flex;
    padding-right: 10px;
}
.phone_image .phone{
    width: 18px;
    height: 18px;
    margin: 0px 15px;  
}
.email{
    display: flex;
    margin-top: 12px;
   
}
.email_img .email{
    width: 18px;
    height: 18px;
    margin: 0px 15px; 
    padding: none; 
}
.input_fields{
    margin-top: 100px;
}
form .bottom_input{
    width: 304.5px;
    height: 44px;
    top: 558px;
    left: 462px;
    border-radius: 30px;
    gap: 10px;
    border: none;
    background-color: #FF5E03;
    padding: 0px 16px;
}
form button{
    width: 144px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #FF5E03;
    color: white; 
    margin-left: -50px;
}

.Categories_bottom{
    margin-top: 64px;
    margin-right: 15px;
}
.third_box{
    margin-top: 269px;
    margin-left: 26px;
    text-align: center;
}
.third_box form .subscribe{
    width: 301px;
    height: 40px;
    padding: 12px, 24px, 12px, 24px;
    border-radius: 30px;
    margin-top: 13px;
    border: none;
    background-color: #FF5E03;
}
.input_fields form .bottom_input::placeholder{
    color: white;
}
.social_logo{
    margin-top: 162px;
    
}

.social_logo img{
    width: 18px;
    margin-right: 50px;
    height: 20px;
}
.social_logo h4{
    margin-bottom: 10px;
}
.social_logo .socials{
    margin: 0;
  
}
.social_logo_icons{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.last_text{
    color: white;
    text-align: center;
    padding: 56px 0;
}