*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sintony", sans-serif;
}

.navbar{
    padding: 74px 91.5px 0 91.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-right: 32px;
}
.logo{
    width: 142.5px;
}
.navbar ul button{
    padding: 12px 40px;
    border-radius: 30px;
    background-color: #218C0F;
    border: none;
    color: white;
}
.food{
    width: 630px;
}
section{
    display: flex;
    padding: 182.83px 98px;
    justify-content: space-between;
}
.image-text{
    width: 427px;
    text-align: center;
}
.image-text h2{
    font-size: 38px;
    font-weight: bold;
}
.image-text p{
    padding-top: 24px;
    font-size: 18px;
}
.image-text form {
    margin-top: 50px;
}
.image-text form input{
    width: 427px;
    height: 40px;
    padding: 12px 24px;
    border-radius: 20px;
    border: 1px solid #218C0F
}
.image-text form button{
    margin-top: 48px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 86px;
    background-color: #218C0F;
    border-radius: 20px;
    border: none;
}